/** $string - svg */
/** add unique id image url */
/** https://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996 */
/** get breakpoint */
/** font size */
.section-banner-home {
  width: 100%;
}
.section-banner-home .container.full {
  max-width: 100%;
  padding: 0;
}
.section-banner-home .item {
  width: 100%;
}
.section-banner-home .item > a {
  display: block;
  width: 100%;
}
.section-banner-home .item .home-img {
  height: auto;
  aspect-ratio: 15/6;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 63.99875rem) {
  .section-banner-home .item .home-img {
    height: 60vh;
  }
}
@media only screen and (max-width: 39.99875rem) {
  .section-banner-home .item .home-img {
    height: auto;
    aspect-ratio: 4/3;
  }
}
.section-banner-home .item .home-img img {
  width: 100%;
  height: 100%;
}
.section-banner-home span.swiper-pagination-bullet {
  height: 5px;
  width: 50px;
  border-radius: 2px;
  transform: scale(1);
}
.section-banner-home .swiper-pagination {
  bottom: 25px;
}
@media only screen and (max-width: 47.99875rem) {
  .section-banner-home .hide-on-mobile {
    display: none !important;
  }
}
.section-banner-home .hide-on-desktop {
  display: none !important;
}
@media only screen and (max-width: 47.99875rem) {
  .section-banner-home .hide-on-desktop {
    display: block !important;
  }
}