/** $string - svg */
/** add unique id image url */
/** https://webdesign.tutsplus.com/tutorials/an-introduction-to-error-handling-in-sass--cms-19996 */
/** get breakpoint */
/** font size */
.section.section-latest-news .news-list {
  margin-top: 0.9375rem;
}
@media only screen and (min-width: 64rem) {
  .section.section-latest-news .news-list {
    margin-top: 1.25rem;
  }
}
.section.section-latest-news .items-list {
  margin-top: 0.9375rem;
}
@media only screen and (min-width: 64rem) {
  .section.section-latest-news .items-list {
    margin-top: 1.25rem;
  }
}
.section.section-latest-news .items-list .swiper-slide {
  width: calc(25% - 0.9375rem);
}
@media only screen and (max-width: 63.99875rem) {
  .section.section-latest-news .items-list .swiper-slide {
    width: calc(33.3333333333% - 0.8333333333rem);
  }
}
@media only screen and (max-width: 47.99875rem) {
  .section.section-latest-news .items-list .swiper-slide {
    width: calc(76.9230769231% - 0.1442307692rem);
  }
}
.section.section-latest-news .inspiration-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}
@media only screen and (max-width: 63.99875rem) {
  .section.section-latest-news .inspiration-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.section.section-latest-news .inspiration-grid .inspiration-card {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}
@media only screen and (max-width: 39.99875rem) {
  .section.section-latest-news .inspiration-grid .inspiration-card {
    grid-column: 1/-1;
  }
}
.section.section-latest-news .inspiration-grid .inspiration-card .content {
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.8));
  color: #fff;
  padding: 20px;
}
@media only screen and (max-width: 63.99875rem) {
  .section.section-latest-news .inspiration-grid .inspiration-card .content {
    padding: 15px;
  }
}
.section.section-latest-news .inspiration-grid .inspiration-card .content .title {
  font-weight: 500;
  margin-bottom: 0;
  color: #fff;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, "Ubuntu", Arial, cursive, sans-serif;
}
.section.section-latest-news .inspiration-grid .inspiration-card .content .title {
  font-size: clamp(0.9375rem, 0.8375rem + 0.25vw, 1.0625rem);
  line-height: clamp(1.21875rem, 1.08875rem + 0.325vw, 1.38125rem);
}
.section.section-latest-news .inspiration-grid .inspiration-card .content .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  overflow-wrap: break-word;
}
@supports (-webkit-line-clamp: 2) {
  .section.section-latest-news .inspiration-grid .inspiration-card .content .title {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
.section.section-latest-news .inspiration-grid .inspiration-card .content .excerpt {
  white-space: pre-wrap;
  line-height: 1.4;
  color: currentColor;
  font-size: 15px;
  opacity: 0.9;
  display: none;
}
.section.section-latest-news .inspiration-grid .inspiration-card.large {
  grid-row: span 2;
}
.section.section-latest-news .inspiration-grid .inspiration-card.large .content .title {
  font-weight: 700;
}
.section.section-latest-news .inspiration-grid .inspiration-card.large .content .title {
  font-size: clamp(0.9375rem, 0.6875rem + 0.625vw, 1.25rem);
  line-height: clamp(1.21875rem, 0.89375rem + 0.8125vw, 1.625rem);
}
@media only screen and (max-width: 63.99875rem) {
  .section.section-latest-news .inspiration-grid .inspiration-card.large {
    grid-column: 1/-1;
  }
}
@media only screen and (min-width: 64rem) {
  .section.section-latest-news .inspiration-grid .inspiration-card.large .cover {
    height: 100%;
  }
  .section.section-latest-news .inspiration-grid .inspiration-card.large .cover .res {
    height: 100%;
    display: block;
    aspect-ratio: auto;
  }
}
.section.section-latest-news .inspiration-grid .inspiration-card.large .content {
  padding: 30px 25px;
}
@media only screen and (max-width: 63.99875rem) {
  .section.section-latest-news .inspiration-grid .inspiration-card.large .content {
    padding: 15px;
  }
}
.section.section-latest-news .inspiration-grid .inspiration-card.large .content .title {
  margin-bottom: 7px;
}
.section.section-latest-news .inspiration-grid .inspiration-card.large .content .excerpt {
  display: block;
}
.section.section-latest-news .inspiration-grid .inspiration-card.large .content .excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  overflow-wrap: break-word;
}
@supports (-webkit-line-clamp: 2) {
  .section.section-latest-news .inspiration-grid .inspiration-card.large .content .excerpt {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}
.section.section-latest-news .btn-link {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}