// Section: Product Category
// Used by: home_product_cat.php

@use "../variables" as vars;
@use "../functions" as func;
@use "../mixins" as mixin;

.section.section-product-cat {
  & > .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px 60px;

    @include mixin.mq-max(xl) {
      display: block;
    }

    &::before,
    &::after {
      background-color: #eeeeeeff;
      height: 0;
      content: "";
      @include mixin.content-width;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    .group-title {
      @include mixin.flex-shrink;

      @include mixin.mq-max(xl) {
        margin-bottom: 15px;
      }
    }

    .swiper-container {
      @include mixin.flex-auto;

      .swiper-slide {
        height: auto;
        @include mixin.flex-self(8, 1, 12);

        @include mixin.mq-max(lg) {
          @include mixin.flex-self(6, 1, 12);
        }

        @include mixin.mq-max(md) {
          max-width: 100px;
          @include mixin.flex-self(3.3, 1, 12);
        }
      }

      .item {
        height: 100%;
        box-shadow: none;

        .item-link {
          height: 100%;
          padding: 10px;
          word-break: break-word;
          display: flex;
          flex-flow: column nowrap;
          border-radius: 4px;
          transition: transform 0.2s;
          color: vars.$body-color;
          align-items: center;
          text-align: center;
          @include mixin.media-gap(10, false, 15);

          &:hover {
            transform: translateY(-4px);
          }

          .title {
            line-height: 1.3;
            font-size: 16px;
            margin-bottom: 0;
          }

          .thumb {
            display: flex;
            order: -1;

            img {
              display: block;
              width: 100%;
              max-width: 70px;
              aspect-ratio: 1 / 1;
              object-fit: contain;
              object-position: center;
            }
          }
        }
      }
    }
  }
}
